@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");

/*Typography
--------------------------------------------------------------*/

body,
button,
input,
select,
textarea {
    color: #404040;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

body {
    background-color: rgb(245, 245, 245);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

ul {
    list-style-type: none;
    padding-inline-start: 0.75rem;
}

#fac-cart {
    display: flex;
    flex-direction: row;
}

.govColContainer {
    display: flex;
    flex-direction: row;
}

.colonyMinerals {
    align-items: center;
    flex-basis: 55%;
    margin-bottom: 1em;
    text-align: center;
}

.cartContainer {
    border: 1px dashed purple;
}

h2,
h3 {
    text-align: center;
}

.mineralOptionsContainer {
    flex-basis: 75%;
    text-align: center;
    border: 1px dashed purple;
    padding: 1em;
    margin-right: .5em;
}

.colonyMineralsContainer {
    border: 1px dashed rgb(15, 120, 185);
    padding: 1em;
    flex-basis: 25%;
    align-items: center;
    text-align: center;
    margin-left: .5em;
}

#buyButton {
    padding: .2em .7em;
    flex-wrap: wrap;
    font-size: 1em;
    max-width: 7.5em;
}